body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
  background: url("../images/matt.jpg")  no-repeat center center fixed;
}

* {
  box-sizing: border-box;
  margin: 0;
}
/* sticky footer styling */
/* http://ryanfait.com/html5-sticky-footer/ */
html,
body {
  height: 100%;
   margin: 0;
        padding: 0;
}
.container {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto -105px;
}



   #map {
        height: 50%;
        width: 50%;
      }
      /* Optional: Makes the sample page fill the window. */

.sidebar {
  float: right;
  width: 100%;
  max-width: 270px;
  padding: 30px;
  padding-top: 0px;
  margin-bottom: 20px;
/*  background: #fff;*/
  border: 3px solid #0a3955;
  border-style: groove;
  border-radius: 6px;
  border-color: #0a3955;
}

/* sidebar */
.connection {
  float: right;
  width: 100%;
  max-width: 270px;
  padding: 30px;
  padding-top: 0px;
  margin-bottom: 20px;
  border: 3px solid #0a3955;
  border-style: groove;
  border-radius: 6px;
  border-color: #0a3955;
  background: #d7f7f4;
  opacity: .8;

}

h2{
  color: #045884;

}

.social {
  width: 65px;
  height: 65px;
  margin-top: 8px;
  margin-right: 5px;
  text-align: center;
}
.social:last-child {
  margin-right: 0;
}







footer,
.push {
  height: 100px;
}
/* end sticky footer styling */
/* start hover styling */
/*#logo:hover,
input[type=submit]:hover {
  background: #5e7f7e;   
  background: #A44531; 
}*/

nav a:hover {
/*  color: #5e7f7e;*/
    color: white;
    text-decoration: none;
  }

#beaches a:link {
    color: blue;
    text-decoration: none;
}

#beaches a:visited {
    color: purple;
    text-decoration: none;
}


#logo:hover,
input[type=submit]{
    color: white;
    text-decoration: none;
}
nav a:hover {
/*  color: #5e7f7e;*/
    color: white;
    text-decoration: none;
  }

.sub-menu li:hover {
     background-color :  red ;
}
/*.social:hover {
  cursor: pointer;
  opacity: 0.8;
}*/
/* end hover styling */
/* general styling */
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

.main-section h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700; 
  margin: .67em 0;
  color:#045884;
}

h2,
h3,
p {
  margin-bottom: 20px;
}
p:last-child {
  margin-bottom: 0;
}


h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
}
.class h1 {
  font-size: 30px;
  line-height: 49px;
}

h2,
h3 {
  font-size: 22px;
  /*color: #A44531;*/
}
/* header */
#masthead {
  background: #AB7D4D;
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  /*overflow: auto;*/
  overflow: visible;
  color: #fff;
  opacity: .8;
}
#logo {
  /*float: left;*/
  width: 380px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #d7f7f4;  
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 4px #000;
  border-radius: 6px;
}

nav {
  float: right;
  margin-top: 30px;
      text-decoration: none;
}
nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  text-decoration: none;
  border-left: 1px solid #efefef;
  color: #d7f7f4;
  font-size: 16px;
  text-shadow: 1px 1px 4px #000;

}
nav a:first-child {
  border-left: 0 none;
}
/* footer */
footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #A44531;

}

#services{
  float: right;
  width: 100%;
  max-width: 370px;
  padding-top: 0px;
  /*border:  1px solid #ddd;*/
  /*height: 116px;*/
}

#dis{
  float:right;
}

#rest{
  float: left;
  margin-top: 75px;
  position: absolute;
  margin-bottom: 50px;
  padding-bottom: 50px;
}


#shops{
  float: center;
  margin-left: 100px;
  position: absolute;
}




/*.social {
  width: 65px;
  height: 65px;
  margin-top: 8px;
  margin-right: 5px;
  text-align: center;
}
.social:last-child {
  margin-right: 0;
}
/* main */
#main-container {
  padding-top: 130px;
}
.main-section {
  float: left;
  width: 100%;
  max-width: 510px;
  padding: 30px;
  padding-top: 0;
  margin: 0 0 40px;
  border-radius: 8px;
  opacity: .80;
  line-height: 26px;
  background: #d7f7f4;
  border: 3px solid #0a3955;
  overflow: hidden;
  box-shadow: 0 20px 48px #0A3955;
  position: relative;

}

.main-section h1 {
  /*margin-bottom: 1PX;*/
 /*   color: #777;
    font-size: 18px;
    color: black;*/
}

form {
  color: black;
}

form p{
  color: black;
  font-size: 12px;
  padding-left: 20px;
  line-height: 4px;
}

form li {
  margin-bottom: 10px;
  color: black;
  padding-left: 20px;
  line-height: 6px;
}

.btn{
  display: block 
  text-align: center;

}

/*
.main-section ol li{
    color:#045884;
}

.main-section ol li p{
  color: black;
  font-size: 12px;
    }*/




.row {
  position: relative;
  float: left;
  margin: 5px 0 5px 0px;
  overflow: auto;
   border-style: groove;
    border-radius: 6px;
    border-color: #0a3955;

}

.row:nth-child(even) {
  margin-right: 40px;
}

.row .col-sm-5 img {
  height: 200px;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 6px;
  border-bottom:  10px;
  padding: 0px;
  width: 100%;
  border: 0 none;
  padding-left: 0;
  padding-right: 0;
}

.row h3 {
  border-bottom:  0;
  background: url("assets/images/matt.jpg");
 /* background: #A44531;*/
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 20px;
/*  line-height: 30px;*/
  margin-bottom: 0;
  font-weight: 300;
  padding: 10px;
  margin-left: 30px;
}

/* contact page */
#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}
input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
/*  background: #4aaaa5;*/
  border: 0 none;
  /*background: url("../images/bg_main1.png");*/
  border-radius: 6px;
}


div #todays-date{
    border-style: groove;
    border-radius: 6px;
    border-color: #0a3955;
    margin-left:120px;
    color: black;
    background: white;
    height: 60px;
    width: 240px;
}

#todays-date p{
    text-align: center;
    font-size: 16px;
    margin-bottom: 0;
    border-style: groove;
    border-radius: 6px;
    border-color: #0a3955;
}

nav {
  float: right;
  margin-top: 30px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  text-decoration: none;
  border-left: 1px solid #efefef;
  color: #d7f7f4;
  font-size: 16px;
  text-shadow: 1px 1px 4px #000;

}

nav a:first-child {
  border-left: 0 none;
}

/*==============*/

nav li{
display: inline-block;
}

nav li ul {    
  background-color:#AB7D4D;
    /*background-color:rgb(225,75,75);*/
    position:absolute;
    left:0;
    top:40px; /* make this equal to the line-height of the links (specified below) */
    width:200px;

}
nav li li {
    position:relative;
    margin:0;
    /*display:block;*/
}

nav li li ul {
    position:absolute;
    top:0;
    left:200px; /* make this equal to the width of the sub nav above */
    margin:0;
}


/* style all links */
nav a {
    line-height:40px;
    padding:0 12px;
    margin:0 12px;
}

nav a:hover,
nav a:focus,
nav a:active {
    color: white;
}

/* style sub level links */
nav li li a {
  border-bottom:solid 0px  #311718;
    /*border-bottom:solid 1px rgb(200,50,50);*/
    margin:0 10px;
    padding:0;

}
nav li li:last-child a {
    border-bottom:none;
}

/* show arrows for dropdowns */
nav li.dropdown > a {
    background-position:right 20px;
    background-repeat:no-repeat;
    text-decoration: none;
}


.sub-menu li {
  display: block;
}

/* hide sub menu links */
ul.sub-menu {
    display:none;
    width: 120px;
}


#coupon{
    position:               absolute;
    margin-top:             50px;
    right:                   -90px;
    transition:             transform 2s;
    -webkit-transition:     -webkit-transform 2s;
    -moz-transition:        -moz-transform 2s;
    -o-transition:          -o-transform 2s;   
}
#coupon a, img{
    border:                none;
}
#coupon:hover{
    transform:             rotate(45deg);
    -webkit-transform:     rotate(45deg);
    -moz-transform:        rotate(45deg);
    -o-transform:          rotate(45deg);
    -ms-transform:         rotate(45deg);
}

/*=============================   images ==========*/




#gif-img {
  margin-top: 50px;
  float: right;
  width: 100%;
  max-width: 362px;
  /*padding-top: 250px;*/
  margin-bottom: 20px;
/*  border-radius: 6px;
  border: 3px solid #0a3955;*/
  position: absolute;

}



#pb-dog-surfing{ 
  margin-top: 60px;
  margin-left: 50px;
  border-radius: 6px;
  border: 3px solid #0a3955;
}



#oceanside-flaming-surfer{
   margin-left: 50px;
  border-radius: 6px;
  border: 3px solid #0a3955;
}


#scripps-surfing-with-dolphin{
   margin-left: 50px;
  border-radius: 6px;
  border: 3px solid #0a3955;
}



#windandsea-awesome-surfer{
   margin-left: 50px;
  border-radius: 6px;
  border: 3px solid #0a3955;
}


#blacks-flying-surfer{
   margin-left: 50px;
  border-radius: 6px;
  border: 3px solid #0a3955;
  width: 362x;
  height: 206px;
}

